---
<!-- layout: archive -->

toc: true
toc_label: "Jump to"
toc_icon: "list-ul"
toc_sticky: true
---

<!-- {{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->

> ***"We are getting close to intelligent machines, but they are showing the necessary weakness of intelligence."*** — Richard Feynman

Currently, an AI Robotics researcher at
<a href="http://www.nhkinternational.com/" target="_blank">NHK International Corporation, USA</a>,
leading the development of Robotics based SOTA reinforcement algorithms.
Previously, a Cooperative Autonomous Vehicle Researcher at
<a href="http://www.eecs.ucf.edu/NSL/" target="_blank">Networked Systems Lab, UCF</a>.
Here I worked on cutting-edge technologies in the field of Connected Autonomous Vehicles.
Our main focus of research at NSL had been the development of Safety Applications and
Advanced driver-assistance systems (ADAS) for automated vehicles. My specialties also
include tackling challenges in Sensor Fusion, Path Planning, and Localization by developing
highly robust algorithms & accurate deep learning models.
<br>In my leisure time, I love to do gardening, play chess, read books/blogs and travel. If you share a
similar
motivation and interests, <br><b>let's connect!</b>
